.clear{
    clear: both;
    height: 0;
    overflow: hidden;
}
body{
    margin: 0;
}
header{
    background-color: rgb(35, 102, 190);
    padding-top: 20px;
    padding-bottom: 10px;
    color: white;
}
nav>ul>li{
    float: left;
    font-size: 15px;
    padding-right: 40px;
    list-style: none;
    margin-right: 20px;
}
nav>ul{
    margin-top: 0;
    margin-bottom: 0;
}
header>nav{
    float: right;
}
header>h1{
    margin-bottom: 10px;
    margin-top: 0;
    margin-left: 10px;
}
.work_list1{
    padding: 0;
}
.work_list2{
    padding: 0;
}
.work_list1>li{
    width: 50%;
    float: left;
    list-style: none;
    padding: 0;
}
.work_list2>li{
    width: 50%;
    float: left;
    list-style: none;
    padding: 0;
}
.work_list1>li img{
    width: 100%;
}.work_list2>li img{
    width: 100%;
}
.new_main_visual{
    background-image: url("images/free_layout_picture_001.jpg");
    background-size: cover;
    text-align: center; 
    padding: 200px 0;
    color: white;
}
.new_main_visual>p{
    font-size: 20px;
}
.new_main_visual>h2{
    font-size: 35px;
}
.nature_picture>h3{
    font-weight: normal;
    margin-bottom: 10px;
    text-align: center;
}
.city_picture>h3{
    font-weight: normal;
    margin-bottom: 10px;
    text-align: center;
}
.nature_picture{
    margin-top: 30px;
}
.city_picture{
    margin-top: 30px;
}
.category>li{
    float: left;
    list-style: none;
    font-size: 12px;
    color: #666;
    padding-right: 20px;
}
.category{
    margin: 0 auto;
    float: right;
}
.menu{
    background-color: #eee;
}
.theme{
    background-color: #eee;
    float: left;
} 
.upload{
    background-color: #eee;
    
}
.theme>section>ul>li{
    list-style: none;
    font-size: 12px;
    margin-bottom: 25px;
}
.theme>section>ul>h5{
    margin-bottom: 25px;
    margin-top: 25px;
}
.theme>section{
    float: left;
    margin-right: 150px;
}
.theme>h3{
    padding-left: 40px;
    padding-top: 40px;
}
.upload>h3{
    padding-left: 40px;
    padding-top: 40px;
}
.upload li{
    font-size: 12px;
    list-style: none;
    padding-bottom: 25px;
}
.upload ul{
    margin-bottom: 0;
}
#footer_div{
    float: left;
}
#footer1>li{
    padding-left: 10px;
    padding-right: 10px;
}
#footer1>li:nth-child(6){
    border: none;
}
footer{
    color: #333333;
    background-color: #eee;
}
#footer_div{
    float: left;
}
footer ul{
    padding: 0;
}
footer ul>li{
    list-style: none;
    float: left;
    font-size: 12px;
}